body {
	background: url("../images/theforbiddenforest.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
h1{
	color: #58E4CA;
	text-align: center;
}
.potter {
	width: 300px;
	display: block;
	margin: auto;
	
}
#hangman {
	background-color: #7CA2AF;
	text-align: center;
}